# time zone
- name: set time zone to Japan
  timezone: name=Japan hwclock=UTC

# localization
- name: create en_US.UTF-8 and ja_JP.UTF-8 locales
  locale_gen: name={{ item }}
  with_items:
    - en_US.UTF-8
    - ja_JP.UTF-8

- name: set locale to ja_JP.UTF-8
  copy: content="LANG=ja_JP.UTF-8" dest=/etc/locale.conf mode=0644

- name: set console keymap to jp106
  copy: content="KEYMAP=jp106" dest=/etc/vconsole.conf mode=0644

# user 
- name: add an user
  user: name=user password={{ user_password_hashed }}

# pacman
- name: install patch
  pacman: name=patch
- name: enable multilib repo and ILoveCandy
  patch: src=pacman.conf.patch dest=/etc/pacman.conf
  register: pacman_conf
- name: configure mirror list
  copy: src=mirrorlist dest=/etc/pacman.d/mirrorlist mode=0644
- name: update cache
  pacman: update_cache=yes
  when: pacman_conf|changed

# sudo
- name: install sudo
  pacman: name=sudo
- name: allow user to use sudo
  copy: content="user ALL=(ALL) ALL" dest=/etc/sudoers.d/user mode=0600

# network
- name: install NetworkManager
  pacman: name=networkmanager
- name: enable NetworkManager
  service: name=NetworkManager enabled=yes

# install grub
- name: install grub
  block:
    - copy: src=98-install-grub.hook dest=/usr/share/libalpm/hooks/ mode=0644
    - copy: src=99-configure-grub.hook dest=/usr/share/libalpm/hooks/ mode=0644
    - pacman: name=grub
  when: bootloader == "grub"

# hardened kernel
- name: install hardened kernel and its headers
  pacman: name={{ item }}
  with_items:
    - linux-hardened
    - linux-hardened-headers
- name: remove default kernel
  pacman: name=linux state=absent recurse=yes

# virtualbox guest extensions
- name: install virtualbox guest extensions
  pacman: name={{ item }}
  with_items:
    - virtualbox-guest-dkms
    - virtualbox-guest-utils
  when: is_virtualbox_guest
