# time zone
- name: set time zone to Japan
  timezone: name=Japan hwclock=UTC

# localization
- name: create en_US.UTF-8 and ja_JP.UTF-8 locales
  locale_gen: name={{ item }}
  with_items:
    - en_US.UTF-8
    - ja_JP.UTF-8

- name: set locale to ja_JP.UTF-8
  copy: content="LANG=ja_JP.UTF-8" dest=/etc/locale.conf mode=0644

- name: set console keymap to jp106
  copy: content="KEYMAP=jp106" dest=/etc/vconsole.conf mode=0644

# user 
- name: add an user
  user: name=user password={{ user_password_hashed }}

# pacman
- name: install patch
  pacman: name=patch
- name: enable multilib repo and ILoveCandy
  patch: src=pacman.conf.patch dest=/etc/pacman.conf
  register: pacman_conf
- name: configure mirror list
  copy: src=mirrorlist dest=/etc/pacman.d/mirrorlist mode=0644
- name: update cache
  pacman: update_cache=yes
  when: pacman_conf|changed

# sudo
- name: install sudo
  pacman: name=sudo
- name: allow user to use sudo
  copy: content="user ALL=(ALL) ALL" dest=/etc/sudoers.d/user mode=0600

# network
- name: install NetworkManager
  pacman: name=networkmanager
- name: enable NetworkManager
  service: name=NetworkManager enabled=yes

# tune sysctl
- name: tune sysctl
  sysctl: name={{ item.name }} value={{ item.value }} sysctl_file=/etc/sysctl.d/99-ansible.conf
  with_items:
    - { name: vm.swappiness, value: 10 }
    - { name: vm.vfs_cache_pressure, value: 50 }

# magic sysrq
- name: configure magic sysrq
  sysctl:
    name: kernel.sysrq
    #r,k  :  4 =   0x4 - enable control of keyboard (SAK, unraw)
    #e,i,f: 64 =  0x40 - enable signalling of processes (term, kill, oom-kill)
    #s    : 16 =  0x10 - enable sync command
    #u    : 32 =  0x20 - enable remount read-only
    #b,o  :128 =  0x80 - allow reboot/poweroff
    value: 244
    sysctl_file: /etc/sysctl.d/99-ansible.conf

# hardening
- name: install hardened kernel and its headers
  pacman: name={{ item }}
  with_items:
    - linux-hardened
    - linux-hardened-headers
- name: remove default kernel
  pacman: name=linux state=absent recurse=yes
- name: disable root login
  user: name=root password=!
- name: secure su
  block:
    - name: add user to wheel group
      user: name=user groups=wheel append=yes
    - name: allow su only for users of wheel group
      replace: path="/etc/pam.d/{{ item }}" regexp="^#(auth\t\trequired\tpam_wheel.so use_uid)$" replace="\\1"
      with_items:
        - su
        - su-l
- name: lockout a user for ten minutes after three failed login attempts + enforce a delay after a failed login attempt
  copy: src=system-login dest=/etc/pam.d/system-login mode=0644
- name: directory access permissions
  file: path={{ item }} state=directory mode=0700
  with_items:
    - /boot
    - /etc/iptables
    - /etc/arptables
- name: restrict access to kernel logs
  sysctl: name=kernel.dmesg_restrict value=1 sysctl_file=/etc/sysctl.d/99-ansible.conf
- name: restrict access to kernel pointers in the proc filesystem
  sysctl: name=kernel.kptr_restrict value=1 sysctl_file=/etc/sysctl.d/99-ansible.conf
- name: hide other users' processes from unprivileged users
  block:
    - file: path=/etc/systemd/system/systemd-logind.service.d mode=0755 state=directory
    - copy: src=hidepid.conf dest=/etc/systemd/system/systemd-logind.service.d/ mode=0644
      register: hidepid_conf
    - systemd: daemon_reload=yes name=systemd-logind state=restarted
      when: hidepid_conf|changed
    - mount: src=proc path=/proc fstype=proc opts=nosuid,nodev,noexec,hidepid=2,gid=proc state=mounted
- name: harden TCP/IP stack
  block:
    - copy: src=99-tcpip-stack-hardening.conf dest=/etc/sysctl.d/ mode=0644
      register: tcpip_stack_hardening_conf
    - command: sysctl -p /etc/sysctl.d/99-tcpip-stack-hardening.conf
      when: tcpip_stack_hardening_conf|changed
- name: harden /dev/shm
  mount: src=none path=/dev/shm fstype=tmpfs opts=noexec,nosuid,nodev state=mounted
- name: chmod 700 ~/
  file: path=/home/user owner=user group=user mode=0700 state=directory

# GRUB
- block:
    - name: install GRUB automatically
      copy: src=98-install-grub.hook dest=/usr/share/libalpm/hooks/ mode=0644
    - name: update grub.cfg when /boot/* are changed
      copy: src=99-configure-grub.hook dest=/usr/share/libalpm/hooks/ mode=0644
    - name: install GRUB
      pacman: name=grub
    - name: configure GRUB
      copy: src=default_grub dest=/etc/default/grub mode=0644
      notify: update grub.cfg
    - name: hide GRUB unless the Shift key is held down
      copy: src=31_hold_shift dest=/etc/grub.d/31_hold_shift mode=0755
      notify: update grub.cfg
  when: bootloader == "grub"

# virtualbox guest extensions
- name: install virtualbox guest extensions
  block:
    - pacman: name={{ item }}
      with_items:
        - virtualbox-guest-dkms
        - virtualbox-guest-utils
    - file: path=/media mode=0755 state=directory
    - service: name=vboxservice enabled=yes
    - user: name=user groups=vboxsf append=yes
  when: is_virtualbox_guest

# intel microcode update
- name: install intel microcode update
  pacman: name=intel-ucode

# TRIM
- name: install util-linux
  pacman: name=util-linux
- name: trim periodically
  service: name=fstrim.timer enabled=yes
